<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<div id="tag-info" class="input-append">
			  <input type="text">
			  <button class="btn" type="button">Add <i class="icon-plus"></i></button>
			</div>
			<ul id="tag-cloud"></ul>
		</div>
		<div class="span6">
			<div id="tag-info" class="input-append">
			  <input type="text">
			  <button class="btn" type="button">Add <i class="icon-plus"></i></button>
			</div>
			<ul id="tag-cloud"></ul>
		</div>
	</div>
</div>